# dependencies
/node_modules
/.pnp
.pnp.js

# tests
/reports
/blah
# !reports/test/



# production
/build/
/dist/

# logs
*.log.*

# OS files
.DS_Store
.env*.local
/.vscode
debug.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
